<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Owners</title>
</head>
<body>
	<h2 th:text="'Owners of pets'">Index</h2>
	
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner:${owners}">
				<td th:text="${owner?.id}">1</td>
				<td th:text="${owner?.firstName}">First Name</td>
				<td th:text="${owner?.lastName}">First Name</td>
			</tr>
		</tbody>
	</table>
</body>


</html>